<!DOCTYPE html>
<html lang="nl">

<head>
  <meta charset="UTF-8">
  <meta name="og:name" value="blaaskaak">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Blaaskaak</title>
  {{ with resources.Get "css/style.css" }}
  <link rel="stylesheet" href="{{ .Permalink }}">
  {{ end }}
  <style>
    body {
      font-weight: bold;
      text-align: center;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #fff7e9;
      margin-top: 10vh;
      font-family: system-ui, sans-serif;
    }

    h1 {
      font-size: 3em;
      color: #b2274b;
    }

    p {
      font-size: 1.2em;
    }

    a {
      color: inherit;
    }

    img {
      width: 80%;
      max-width: 400px;
    }
  </style>
</head>

<body>
  <h1>Wordt aan gewerkt.</h1>

  <p>Boeken: <a href="mailto:ties@treetopagency.com">ties@treetopagency.com</a></p>

  <p>Instagram: <a href="https://instagram.com/_blaaskaak_">@_blaaskaak_</a></p>

  <img src="/media/standby.jpg" alt="Leden van Blaaskaak als klusjesmannen">
</body>

</html>
